<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395242380630-0crb4pftojg36ti2kcsreqek2atsu7bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395242380630-0crb4pftojg36ti2kcsreqek2atsu7bv</string>
	<key>API_KEY</key>
	<string>AIzaSyALlI5K-JsO2G0sXXXy0HoSjvIngWK0zTI</string>
	<key>GCM_SENDER_ID</key>
	<string>395242380630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nyobaauth</string>
	<key>PROJECT_ID</key>
	<string>frbsauthh</string>
	<key>STORAGE_BUCKET</key>
	<string>frbsauthh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395242380630:ios:be35c1e01fb1bdef498af7</string>
</dict>
</plist>